<div class="card">
    <img class="card-img-top" src="https://wallpapers.com/images/featured/beautiful-3vau5vtfa3qn7k8v.jpg" alt="Card image">
    <div class="card-body">
      <h5 class="card-title">Beautiful Component</h5>
      <p class="card-text">This is a protected route and is only available to logged in users. Also this tree bears fruits which can make you immortal.</p>
      <a class="btn btn-primary" style="align-self: center;cursor:default;">Most beautiful card in the world</a>
    </div>
  </div>
  