<!-- https://stackblitz.com/edit/angular-complex-reactive-form?file=src%2Fapp%2Fapp.component.ts -->

<div class="card">
    <div class="card-body">
        <div class="container">
            <form [formGroup]="foodForm" (ngSubmit)="submitForm()">
                <div class="mb-3">
                  <label>Name</label>
                  <input type="text" formControlName="name" class="form-control">
                </div>
                <div class="mb-3">
                  <label>Description</label>
                  <textarea formControlName="description" class="form-control"></textarea>
                </div>
                <div class="mb-3">
                  <label>Price</label>
                  <input type="text" formControlName="price" class="form-control">
                </div>
                <div formArrayName="addOns" class="p-3">
                  <div *ngFor="let addOn of addOns.controls; let i=index" class="mb-3" [formGroupName]="i">
                    <div class="mb-3">
                      <label>Add-On Name</label>
                      <input type="text" formControlName="name" class="form-control">
                    </div>
                    <div class="mb-3">
                      <label>Add-On Price</label>
                      <input type="text" formControlName="price" class="form-control">
                    </div>
                    <div class="mb-3">
                      <label>Add-On Type</label>
                      <input type="text" formControlName="type" class="form-control">
                    </div>
                    <button type="button" class="btn btn-danger btn-sm" (click)="removeAddOn(i)">Remove Add-On</button>
                  </div>
                </div>
                <div style="display: flex; justify-content:space-around;">
                    <button type="button" class="btn btn-primary" (click)="addAddOn()">Add Add-On</button>
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
             
              </form>
  </div>
  </div>
  </div>